* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #BFD7E4;
}

body::before {
  content: '';
  width: 100%;
  height: 466px;
  background: #293241;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: 107px auto;
}

header {
  text-align: center;
  color: #fff;
}

header h1 {
  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1px;
}

header p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 4px;
}

.header-img {
  margin-top: 30px;
}

fieldset {
  border: none;
}

#avaliation-form {
  background: #fff;
  padding: 30px 64px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
}

#personal-info {
  background: #F67669;
  height: 119px;
  margin-top: 30px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
}

.full-name {
  display: flex;
  gap: 22px;
}

input, select, textarea {
  height: 55px;
  width: 100%;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 15px;
  color: #293241;
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid #BFD7E4;
}

.full-name input {
  width: 300px;
}

label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

span {
  margin-left: 9px;
  color: #C1BCCC;
  font-family: Poppins;
  font-size: 12px;
  line-height: 20px;
}

span:hover {
  color: #293241;
}

fieldset legend {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper select {
  width: 300px;
}

.input-wrapper textarea {
  width: 100%;
  height: 166px;
  resize: none;
}

.checkbox-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  display: block;
}

.checkbox-wrapper label {
  display: flex;
  gap: 8px;
}

.checkbox-wrapper input {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0%;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid #BFD7E4;
}

.three-coluns {
  display: flex;
  gap: 10px;
}

.three-coluns div:nth-child(1) {
  width: 100%;
  margin-right: 32px;
}

.button {
  margin-top: 40px;
  border: none;
  background-color: #F67669;
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  color: #fff;
}

.button:hover {
  background-color: #5ab9a5;
  box-shadow: 1px 1px 6px 1px #4E4958;
}